@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic");


html {
  width: 1366px;
  height: 763px;
}


body {
  background: url(../img/background1.png);
  background-repeat: no-repeat;
  font-family: Roboto, serif;
  font-size: 18px;
  color: white;
}


header {
  clear: both;
  padding: 28px 148px 2px 155px;
}


.main-link {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
}


.main-logo {
  width: 168px;
}


.image-logo-container {
  float: left;
  margin-right: 15px;
  margin-top: 2px;
}


.main-logo p span {
  font-size: 28px;
}


.logo-img-hover {
  display: none;
  position: absolute;
  top: 48px;
}


.main-link:hover .logo-img-hover {
  display: block;
}


header .mail-link {
  text-align: right;
  font-weight: 600;
}


header .mail-link a {
  color: white;
  text-decoration: none;
}


.main-content {
  width: 1366px;
  padding-left: 120px;
  clear: left;
}


.picture-event-box {
  float: left;
  text-decoration: none;
  margin: 20px 34px 58px 34px;
  text-align: center;
  color: white;
  border-top: 2px solid white;
  width: 312px;
  height: 221px;
  background: linear-gradient(to bottom, white, gray, black);
}


.event-name {
  padding-top: 18px;
  padding-bottom: 22px;
}


.main-link:hover,
.main-content .picture-event-box:hover {
  color: #f26522;
}


.main-content .picture-event-box .picture .info {
  font-size: 10px;
  text-align: left;
  color: white;
  padding: 15px 10px 10px 20px;
  line-height: 170%;
}


.main-content .picture-event-box .picture div .price {
  font-size: 20px;
}


.main-content .picture-event-box .picture div .details {
  font-size: 14px;
  padding-left: 130px;
}


.main-content .picture-event-box .picture div .details:after {
  content: "\003E";
}


.main-content .picture-event-box .picture .info {
  display: none;
  position: absolute;
  width: 278px;
  height: 38px;
  background: #f26522;
  font-size: 10px;
}


.main-content .picture-event-box:hover .picture .info {
  display: block;
}


.main-content .picture-event-box .picture .shopping-tour {
  top: 298px;
  left: 155px;
}


.main-content .picture-event-box .picture .sightseeing-tours {
  top: 298px;
  left: 536px;
}


.main-content .picture-event-box .picture .food-tours {
  top: 298px;
  left: 916px;
}


.main-content .picture-event-box .picture .bars-nightlife {
  top: 599px;
  left: 155px;
}


.main-content .picture-event-box .picture .art-architecture {
  top: 599px;
  left: 536px;
}


.main-content .picture-event-box .picture .walking-tours {
  top: 599px;
  left: 916px;
}


.footer {
  padding-top: 10px;
  width: 1366px;
  text-align: center;
  font-size: 12px;
  clear: left;
}